/*h3 {
    font-family: Calibri;
    font-size: 25pt;
    font-style: normal;
    font-weight: bold;
    color: SlateBlue;
    text-align: center;
    text-decoration: underline
}
*/
table {
    font-family: Calibri;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    background-color: transparent;
}

table.inner {
    border: 0px
}